// ---------------------------------------
// Blog List
// ---------------------------------------
@use "../../util" as *;

.blog-list {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, srem(280)), 1fr));
  }

  .post-card {
    height: 100%;

    &__link {
      height: 100%;
    }
  }
}
